* {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    background-color: #1f5810;
    color: white;
    padding: 10px 0;
    top: 0;
    text-align: center;
    width: 100%;
    z-index: 1000;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}


nav a:hover {
    color: orangered;
    text-decoration: underline;
}

main{
    height: 2000px; 
    padding-top: 100px;
}

div{
    background-color: #fff;
    border-style: solid;
    border-color: #646464d7;
    padding: 10px;
    border-radius: 8px;
}

#shop_now-button{
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    background-color: orangered;
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

#shop_now-button:hover{
    background-color: darkorange;
}
